.headerDiv{
    height: 4rem;
}
.leftRow{
    margin-top: 1.5em;
    margin-left: 4em;
    cursor: pointer;
}
.logoDiv{
    float: left;
    margin-left: 2rem;
}
.headerSubDiv{
    float: left;
    color: #373B3F;
    margin-top: 3px ;
    margin-left: 0.5em;
    font-size: large;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.righRow{
    position: absolute;
    right: 10em;
}
.loginDiv{
    float: left;
    color: #1CC29F;
    font-weight: bolder;
    cursor: pointer;
}
.signupDiv{
    float: left;
    margin-left: 1em;
    background-color: #1CC29F;
    border-radius: 6px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 0 0 rgb(55 59 63 / 50%);
}
.signupDiv:hover{
    margin-top: 2px;
    margin-bottom: -2px;
    box-shadow: none;
}
.signupButton{
    color: white;
    border: none;
    font-weight: bolder;
}